.signin {
  background-image: linear-gradient(to right, #ff454d , #ff627e);
  text-align: center;
  padding: 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 0px 12px 12px 0px;
  color: #fff;
}

@media (max-width: 576px) {
  .signin {
    border-radius: 0px 0px 12px 12px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.signin .title {
  font-size: 36px;
  font-weight: 300;
}

.signin .subtitle {
  font-size: 14px;
  padding-right: 10%;
  padding-left: 10%;
}

.signin .buttons {
  padding: 15px 30px 0px 30px;
}

.signin .btn-signin {
  border-radius: 30px;
  color: #fff;
  padding-left: 10%;
  padding-right: 10%;
  font-size: 16px;
  text-transform: uppercase;
  background: transparent;
  border-color: #fff;
}

.signin .btn-signin:active {
  background-color: #fff;
  color: ff454d;
}